@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #111827;
}

body {
  color: var(--foreground);
  min-height: 100vh;
  background: #f8f8f8;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
